body {
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    background-image: url("img/coffee3.webp");
    background-attachment: fixed;
    background-size: 100% 100%;
}

.d-flex {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


}

.coffee-head {
    font-family: cursive;
    font-size: 6em;
    color: wheat;
    background-size: 100% 100%;
    width: 39%;
    opacity: 75%;
    background-color: black;
    padding: 0;
    margin: 0;
    border-radius: 20px;

}

.background-1 {
    background-color: whitesmoke;
    color: black;
    opacity: 75%;

}

.background-2 {
    background-image: url("img/cofeebeans.jpeg");
    background-size: cover;
    border: 2px solid black;
    border-radius: 10px;
    color: whitesmoke;
    opacity: 80%;


}

.form-label {
    text-align: center;
    background-color: black;
    opacity: 75%;
    width: 15%;
    color: white;
    border-radius: 10px;
}

.background-3 {
    background-image: url("img/cofeebeans copy.jpeg");
    background-size: cover;
    border: 2px solid black;
    border-radius: 10px;
    opacity: 80%;

}

.add-coffee {
    background-color: black;
    border-radius: 10px;
    color: wheat;
    opacity: 70%;
    width: 50%;
}

.footer {
    background-color: black;
    width: 100%;
    margin: 1em 0 0 0;
    opacity: 60%;
    color: wheat;
}
/*.card {*/
/*    width: 95%;*/
/*}*/