body {
    padding: 0 1em;
    font-family: 'Bebas Neue', cursive;
    background-image: url("img/coffee3.webp");
    background-attachment: fixed;
    background-size: 100% 100%;
}

.d-flex {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


}

.coffee-head {
    font-size: 6em;
    color: whitesmoke;
    background-size: 100% 100%;
    width: 50%;

}

.background-1 {
    background-color: whitesmoke;
    color: black;
    opacity: 75%;

}